$color-white: #ffffff;
$color-black: #000000;
$color-darkred: rgb(212, 24, 75);
$color-red: rgb(253, 0, 68);
$color-gray: #7a7a7a;
$color-gb: linear-gradient(179.92deg, #000000 -30.16%, #4e4e4e 99.93%);
$color-gbe: linear-gradient(197.34deg, #000000 3.37%, #4e4e4e 88.1%);

$container-width-lg: 80%;
$container-width-md: 90%;
$container-width-sm: 94%;
$transition: all 400ms ease;