@import "./variables";
@import "./mixins";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Montserrat', sans-serif;
    color: $color-white;
    line-height: 1.7;
    background-color: #ffffff;
}


section,
header {
    padding: 5rem 14px;

}

a {
    text-decoration: none;
    color: inherit;


}

ul {
    list-style-type: none;
}

button {
    border-radius: 45px;
    border: none;
    padding: 0.3rem 1rem;
    @include flex(center, center, row);
    transition: $transition;

    &.black {
        background: #000000;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;

        &:hover {
            background: $color-red;
            color: #FFFFFF;
        }
    }

    &.white {
        background: #FFFFFF;
        border: 1px solid #FFFFFF;

        &:hover {
            background: $color-red;
            color: #FFFFFF;
        }

    }

    &.red {
        color: #FFFFFF;
        background: $color-red ;

        &:hover {
            background: #FFFFFF;
            color: #000000;
        }
    }
}

// NAVBAR
nav {
    @include flex(center, space-between, row);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    padding: 8px 14px;
    transition: 0.3s linear background;
    z-index: 50;

    ul {
        @include flex(center, space-between, row);
        width: 70%;
    }

    &.background {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: #000000;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

// HEADER SECTION
.header-section {
    background: url(../images/header-image-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    color: #FFFFFF;

    .info {
        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 0.8rem;

            &.desktop {
                display: none;
            }
        }

        .btns {
            @include flex(center, space-between, row);
            width: 70%;
        }
    }
}


// CARDS SECTION
.cards {
    padding: 0;

    .container {
        @include flex(center, center, column);

        .card {
            background: $color-gbe;
            transition: $transition;
            margin: 10px;
            width: 100%;
            @include flex (center, center, column);
            padding: 2rem 14px;
            text-align: center;
            color: #FFFFFF;


            .img {
                border-radius: 50%;
                @include flex(center, center, row);
                margin-bottom: 10px;
                width: 132px;
                height: 132px;

                img {
                    border-radius: 50%;
                }
            }

            .info {
                h6 {
                    font-size: 1.4rem;
                }

                h5 {
                    font-size: 1rem;
                    font-weight: 500;
                }

                a {
                    background-color: $color-red;
                    color: #FFFFFF;
                    padding: 0.5rem 1rem;
                    border-radius: 45px;
                    transition: $transition;

                    &:hover {
                        color: #000000;
                        background: #FFFFFF;
                    }

                }
            }

            &.get-involved,
            &.community {
                background: #FFFFFF;
                color: #000000;
            }
        }
    }
}

// OUR CAUSE SECTION
.our-cause {
    text-align: center;
    color: #000000;
    background-image: url(../images/Vector\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;

    .title {
        color: $color-gray;
    }

    .container {
        @include flex(center, center, column);
        margin-bottom: 20px;

        .info {
            h3 {
                font-size: 0.8rem;
                margin-bottom: 10px;

                span {
                    color: $color-darkred;
                }
            }

            p {
                font-size: 0.9rem;
            }

            .btn {
                @include flex(center, center, row);
                margin-top: 10px;

                a {
                    background: transparent;
                    padding: 0.5rem 1rem;
                    border-radius: 45px;
                    border: 1px solid $color-darkred;
                    transition: $transition;

                    &:hover {
                        color: #ffffff;
                        background: $color-red ;
                        border: none;
                    }
                }
            }
        }

        .video {
            @include flex(center, center, row);
            width: 100%;
            margin-top: 20px;
            border-radius: 10px;

            video {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
}

// ABOUT US SECTION
.about-us {
    text-align: center;
    color: #000000;

    .title {
        color: $color-gray;
    }

    .container {
        @include flex(center, center, column);
        margin-bottom: 60px;
        padding: 1rem 0;

        .info {
            h3 {
                font-size: 0.8rem;
                margin-bottom: 10px;

                span {
                    color: $color-darkred;
                }
            }

            p {
                font-size: 0.9rem;
            }

            .btn {
                @include flex(center, center, row);
                margin-top: 10px;

                a {
                    background: transparent;
                    padding: 0.5rem 1rem;
                    border-radius: 45px;
                    border: 1px solid $color-darkred;
                    transition: $transition;

                    &:hover {
                        color: #ffffff;
                        background: $color-red ;
                        border: none;
                    }
                }
            }
        }

        .img {
            @include flex(center, center, row);
            width: 100%;
            height: auto;
            margin-top: 20px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .vid {
            width: 100%;
            border-radius: 10px;
            @include flex(center, center, row);
            margin-bottom: 20px;

            video {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                border: none;
            }
        }
    }
}

// TEAMS SECTION
.team {
    text-align: center;
    color: #000000;
    background-image: url(../images/Frame\ 2.png);
    background-position: right;
    background-size: cover;
    height: 45rem;

    .title {
        color: $color-gray;
    }

    .container {
        @include flex(center, center, column);

        .info {

            p {
                font-size: 0.9rem;
            }
        }

        .members {
            margin-top: 20px;

            .member {
                margin-bottom: 20px;

                img {
                    height: 120px;
                    width: 120px;
                }

                h3 {
                    font-weight: 500;
                    font-size: 1.2rem;

                    a {
                        color: $color-darkred
                    }
                }

                h4 {
                    font-size: 0.8rem
                }
            }
        }
    }

}

// NFT SECTION
.nft-section {
    text-align: center;
    color: #000000;

    .title {
        color: $color-gray;
    }

    h3 {
        font-weight: 500;
        font-size: 1rem;

        span {
            color: $color-darkred;
        }
    }

    .ntfs {
        margin-top: 20px;

        .nft {
            margin-bottom: 30px;
            padding: 1rem 0;

            .img {
                width: 167px;
                height: 167px;
                margin: 0 auto;
                margin-bottom: 20px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            a {
                background: transparent;
                padding: 0.5rem 1rem;
                border-radius: 45px;
                border: 1px solid $color-black;
                transition: $transition;

                &:hover {
                    color: #ffffff;
                    background: $color-red ;
                    border: none;
                }

            }
        }
    }

    .about-loobles {
        h2 {
            font-size: 1.2rem;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        a {
            background: $color-red;
            color: #FFFFFF;
            padding: 0.5rem 1.3rem;
            border-radius: 45px;
            transition: $transition;

            &:hover {
                color: #000000;
                background: #FFFFFF;
                border: 1px solid $color-black;
            }

        }
    }
}

// FOOTER SECTION
footer {
    background-color: $color-black;
    color: transparent;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;

    .socials {
        padding: 1rem 0;
        @include flex(center, center, row);

        img {
            width: 35px;
            height: 35px;
            color: #FFFFFF;
            margin: 0 10px;
        }
    }
}

@media screen and (min-width: 361px) {

    section,
    header {
        padding: 5rem 24px;
    }

    // NAVBAR
    nav {
        padding: 8px 24px;
    }

    // HEADER SECTION
    .header-section {
        .info {
            h2 {
                font-size: 2.3rem;
            }

            p {
                font-size: 1rem;
            }

            .btns {
                width: 55%;
            }
        }
    }


    // CARDS SECTION
    .cards {
        .container {
            .card {
                padding: 2rem 24px;
            }
        }
    }

    // OUR CAUSE SECTION
    .our-cause {
        .container {
            .info {
                h3 {
                    font-size: 1rem;
                }

                p {
                    font-size: 0.9rem;
                }
            }
        }
    }

    // ABOUT US SECTION
    .about-us {
        .container {
            .info {
                h3 {
                    font-size: 1rem;
                }
            }
        }
    }

    // TEAMS SECTION

    // NFT SECTION
    .nft-section {
        h3 {
            font-size: 1.1rem;
        }

        .about-loobles {
            p {
                font-size: 0.9rem;
            }
        }
    }
}

@media screen and (min-width: 600px) {

    section,
    header {
        padding: 5rem 40px;
    }


    // NAVBAR
    nav {
        padding: 8px 40px;

        ul {
            width: 40%;
        }
    }

    // HEADER SECTION
    .header-section {
        height: 57vh;

        .info {
            padding-top: 3rem;

            h2 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.3rem;
                width: 60%;
            }

            .btns {
                width: 28%;
            }
        }
    }

    // CARDS SECTION
    .cards {
        .container {
            .card {
                padding: 2rem 40px;

                .info {
                    h5 {
                        width: 60%;
                        margin: auto;
                    }
                }
            }
        }
    }

    // OUR CAUSE SECTION
    .our-cause {
        .title {
            font-size: 2.3rem
        }

        .container {
            .info {
                h3 {
                    font-size: 1.3rem;
                }

                p {
                    font-size: 1.1rem;
                }
            }
        }
    }

    // ABOUT US SECTION
    .about-us {
        .title {
            font-size: 2.3rem
        }

        .container {
            .info {
                h3 {
                    font-size: 1.3rem;
                }

                p {
                    font-size: 1.1rem;
                }
            }

            .vid {
                margin-bottom: 40px;
            }
        }
    }

    // TEAMS SECTION
    .team {
        height: 45rem;

        .title {
            font-size: 2.3rem;
        }

        .container {
            .info {

                p {
                    font-size: 1.1rem;
                }
            }
        }

    }

    // NFT SECTION
    .nft-section {
        .title {
            font-size: 2.3rem;
        }

        h3 {
            font-size: 1.3rem;
        }

        .ntfs {
            margin-top: 20px;
            @include flex(center, space-between, row);

            .nft {
                .img {
                    width: auto;
                    height: auto;
                }
            }
        }

        .about-loobles {
            h2 {
                font-size: 1.4rem;
            }

            p {
                font-size: 1.1rem;
            }
        }
    }
}

@media screen and (min-width: 900px) {

    section,
    header {
        padding: 5rem 80px;
    }


    // NAVBAR
    nav {
        padding: 8px 80px;
    }
}

@media screen and (min-width: 1200px) {

    section,
    header {
        padding: 5rem 140px;

    }


    // NAVBAR
    nav {
        padding: 8px 140px;

        ul {
            width: 30%;
        }
    }

    // HEADER SECTION
    .header-section {
        height: 100vh;
        @include flex(center, flex-start, row);

        .info {
            width: 60%;

            h5 {
                font-size: 1.5rem;
                font-weight: 500;
            }

            h2 {
                font-size: 3.5rem;
                line-height: 1.5;
            }

            p {
                font-size: 1rem;
                width: 100%;

                &.desktop {
                    display: block;
                }
            }

            .btns {
                width: 45%;

                button {
                    padding: 0.5rem 1.9rem;
                }
            }
        }
    }

    // CARDS SECTION
    .cards {
        padding: 0;
        position: relative;
        height: 500px;

        .container {
            @include flex(flex-start, center, row);
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: -40px;

            .card {
                border-radius: 20px;
                width: 321px;
                padding: 2rem 14px;
                height: 165px;
                overflow-y: hidden;
                justify-content: flex-start;
                transition: ease-out 0.4s height;


                .info {
                    h5 {
                        width: auto;
                        margin: 0;
                        font-size: 1rem;
                    }
                }


                &.get-involved,
                &.community {
                    background: linear-gradient(180.99deg, #000000 -23.64%, #FFFFFF 218.61%);
                    color: #FFFFFF;
                }

                &:hover {
                    height: 460px;
                }
            }
        }

    }

    // OUR CAUSE SECTION
    .our-cause {
        padding-left: 80px;
        padding-right: 80px;

        .title {
            font-size: 2.4rem
        }

        .container {
            @include flex(center, space-between, row-reverse);

            .info {
                width: 35%;
                text-align: left;

                h3 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1rem;
                }

                .btn {
                    @include flex(center, flex-start, row);
                }
            }

            .video {
                width: 40%;
                height: 50vh;
            }
        }
    }

    // ABOUT US SECTION
    .about-us {
        padding-left: 80px;
        padding-right: 80px;

        .title {
            font-size: 2.4rem;
        }

        .container {
            @include flex(center, space-between, row-reverse);

            .info {
                width: 35%;
                text-align: left;

                h3 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.2rem;
                }

                .btn {
                    @include flex(center, flex-end, row);
                }
            }

            .img {
                width: 40%;
                height: 50vh;
            }

            .vid {
                width: 50%;
                margin-bottom: 0;
            }
        }
    }

    // TEAMS SECTION
    .team {
        padding-left: 80px;
        padding-right: 80px;

        .title {
            font-size: 2.4rem;
        }

        .container {
            @include flex(center, center, column);

            .info {

                p {
                    font-size: 1.2rem;
                    width: 80%;
                    margin: auto;
                }
            }

            .members {
                @include flex(center, space-between, row);
                width: 50%;
                margin-top: 50px;

                .member {
                    img {
                        height: 180px;
                        width: 180px;
                    }

                    h3 {
                        font-size: 1.5rem;
                    }

                    h4 {
                        font-size: 1rem
                    }
                }
            }
        }
    }

    // NFT SECTION
    .nft-section {
        padding-left: 80px;
        padding-right: 80px;

        .title {
            font-size: 2.4rem;
        }

        h3 {
            font-size: 1.8rem;
            width: 80%;
            margin: auto;
        }

        .ntfs {
            @include flex(center, space-between, row);
            width: 80%;
            margin: 20px auto;
        }

        .about-loobles {
            h2 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (min-width: 1800px) {}